{% extends 'base.html' %}

{%block contents%}
<div class="column side">
    <h2>My Friends</h2>
    <p>
        여기는 제 친한 친구들을 소개하는 페이지입니다.<br>
        저 혼자만 짱친이라고 생각하는 건 아니겠죠..?
    </p>


</div>
<div style="overflow:scroll;" class="column middle">
    <h2> 제 친구들을 소개합니다!</h2>
    <table border="1">
        <!-- 테이블의 구성요소  -->
        <!-- 표의 제일 윗칸! -->

        <tr>
            <!-- 첫번째 줄 시작 -->
            <td>
                <font color="#3C5A91">
                    누룽지들
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/93136939_2345407172425290_2762626396189622272_n.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=22_x8Z5-gTYAX-kbxjN&_nc_ht=scontent-gmp1-1.xx&oh=13e1f91eabd0632e492eb8432dea8567&oe=5EB9FF76"
                    , width="200" height="150"><br>
                저의 가장 오래되고 가장 친한 친구들!<br>
                다음에 무슨 말할지까지 맞출 수 있다늉..ㅎ<br>
                중학교-고등학교-지금까지 친하답니당
            </td>
            <td>
                <font color="#3C5A91">
                    이공사저공사
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/92829003_2345424122423595_4831933470374625280_n.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=ZEnGmejdzC0AX_jjhv_&_nc_ht=scontent-gmp1-1.xx&oh=e99c53b3b1bf843cc5140c0e4d2f8b5d&oe=5EBAD024"
                    , width="200" height="150"><br>
                고등학교 2학년 때 부터 친한 친구들!<br>
                힘든 시기에 가장 가까이 있었던 친구들이에요<br>
                사람이 많아서 모임 한 번 잡기가..^^
            </td>
            <td>
                <font color="#3C5A91">
                    지은
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/93714033_2345407122425295_1814654778123223040_n.jpg?_nc_cat=101&_nc_sid=110474&_nc_ohc=7dNldwdstpoAX-7yskx&_nc_ht=scontent-gmp1-1.xx&oh=eb2e276bc560191bf79e53d4e8bd3a3b&oe=5EBB3045"
                    , width="200" height="150"><br>
                중학교 깨발랄 시절 매일 같이 다닌 친구!<br>
                저희의 소울푸드는 또래오래 순살치킨 ㅎ,ㅎ<br>
                혼자 고등학교 딴 데로 가서 속상했답니다..
            </td>
            <td>
                <font color="#3C5A91">
                    희천
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/92572336_2345407159091958_6760886506589519872_n.jpg?_nc_cat=106&_nc_sid=110474&_nc_ohc=_wAX1DQgYckAX81hiq2&_nc_ht=scontent-gmp1-1.xx&oh=3716b07a6424f20a93b7ca2ecc56416c&oe=5EB941B3"
                    , width="150" height="200"><br>
                이성친구 중에 제일 친한 뇸..<br>
                성향,성격,취미 다 너무 똑같다는 점..<br>
                그래서 꼴뵈기 싫은 건가..?(재수중)
            </td>
        </tr>
        <tr>
            <!-- 두번째 줄 시작 -->
            <td>
                <font color="#3C5A91">
                    성경
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/92586825_2345407189091955_4925558753790525440_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=A_sjHfKwMFIAX-UPPTS&_nc_ht=scontent-gmp1-1.xx&oh=1f75b5becd351ac2b2f2be55bf7bb3e6&oe=5EBA454A"
                    , width="200" height="150"><br>
                최근 3년동안 가장 자주 만난 친구<br>
                수능 전날까지 면학실 옆자리에서<br>
                공부한 동지애ㅠㅠ 성공하자!
            </td>
            <td>
                <font color="#3C5A91">
                    진혁
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/92862338_2345407102425297_1849845433749209088_n.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=w3COEsFOOjkAX_h6Bjk&_nc_ht=scontent-gmp1-1.xx&oh=2cc7eaaa4dadc586361762917c28bb20&oe=5EB8CF0D"
                    , width="150" height="200"><br>
                나랑 다르게 엄청 섬세한 지뇩씌<br>
                연애 경험 별로 없으면서 맨날<br>
                나 상담해줌ㅋㅅㅋ 웃기넹
            </td>
            <td>
                <font color="#3C5A91">
                    예준
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/93778188_2345407285758612_3620392160462897152_n.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=-IsPm_y9osoAX-WKoEY&_nc_ht=scontent-gmp1-1.xx&oh=87d0deab2310127d11e9863b9487aeaa&oe=5EB94883"
                    , width="150" height="200"><br>
                중학교에 희천이랑 셋이 엄청 친했는데<br>
                캐나다로 유학가서 아픈 손가락 ㅠ0ㅠ<br>
                근데 한국 엄청 자주 옴ㅋㄱㅋ 안 보고싶어
            </td>
            <td>
                <font color="#3C5A91">
                    현우
                </font><br>
                <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/92522579_2345407052425302_6715990337271103488_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=0fH4H9BY67AAX-X6Zh_&_nc_ht=scontent-gmp1-1.xx&oh=dffa6cb6d23b2bab5a4974663354133a&oe=5EBC52F4"
                    , width="150" height="200"><br>
                인천 첫 친구! 벌써 7년 째!<br>
                집 앞에 호수공원 같이 도는 산책친구 <br>
                맨날 살 빼라고 잔소리함..
            </td>
        </tr>

    </table>


</div>

<div class="column side">
    <h2>여기 방문한 당신의 이름을 적어주세요. 친구 목록에 넣을게용!</h2>

    <!-- 텍스트를 입력(input)받을 창을 만들고 -->
    <input type="text" id="input"> <button onclick="input()">Submit</button>
    <!-- 텍스트를 출력(output)할 창을 만들고 -->
    <p>
        <textarea id="output"></textarea> <button onclick="output()">Print</button>
    </p>
    <p>
        <h4>submit 다음에 print를 눌러야 출력됩니다!</h4>
    </p>

    <!-- 아래부터 자바스크립트 -->
    <!--구성된 요소를 아이디 값으로 찾아가는 함수!실제값은.value가 된다-->
    <script type="text/javascript">
        var temp;

        function input() {
            var input = document.getElementById("input").value;
            temp = input;
        }

        function output() {
            document.getElementById("output").value = temp;
        }
    </script>

    {% endblock %}